version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    docker:
    - image: circleci/python:3.8.8
    steps:
      - checkout
      - restore_cache:
          keys:
          - pip-{{ checksum "requirements.txt"  }}      
      - run:
          environment:
            LLVM_CONFIG: /home/circleci/.local/bin/llvm-config
          command: |
            for line in $(cat requirements.txt)
            do
              pip install --user $line
            done
          name: Install Deps
      - save_cache:
          key: pip-{{ checksum "requirements.txt"  }}
          paths:
          - /home/circleci/.local/lib/
      - run:
          command: |
            pip install --user coverage
            pip install --user nose
            nosetests --with-coverage --cover-package=girth testing/
            bash <(curl -s https://codecov.io/bash)
          no_output_timeout: 2m

          name: Test

workflows:
  main:
    jobs:
      - build-and-test
